<div class="container container-padding">
  <div class="row">


      <div class="col-md-4" *ngFor="let product of products">
         
        
          <div (click)="showDescription(product.id)" 
          class="card product-container">
              <img class="card-img-top medium-product-image" 
              src={{product.img1}} alt="Product Image ">
              <div class="card-body product-info-div">
                <p class="card-title">{{product.name}}</p>
                <h5 class="card-text">{{product.price}}/-</h5>
                <h5 class="card-text">{{product.description}}</h5>
                
              </div>
          </div>           
      
      </div> 
      
  </div>
</div>