.container-padding{
  padding-top: 70px;
  padding-bottom: 20px;
}

.small-product-image{
height:60px;
width:60px;
display: block;margin-top:30px;
}  

.large-product-image{
height:500px;
width:100%;
display: block
}

.product-description{
margin-top: 60px;
margin-left: 40px
}

.product-inner-description{
margin-top:20px;
}

.product-button-div{
margin-top: 40px;
}

.quantity-input{
width: 50px;
}

.cart-button{
margin-left:20px
}