<div class="container container-padding">
    
  <div class="jumbotron contact-jumbotron">
      <h1 class="display-5">Contact us</h1>
      
      <hr class="my-4">
       
      <form (ngSubmit)="postQuery(f)" #f="ngForm">
          <div class="form-row">
            <div class="col">
                <div class="form-group">
                <label for="firstname">First name</label>
                 <input 
                 type="text" 
                 id="firstname" 
                 class="form-control" 
                 placeholder="eg- John"
                 ngModel
                 required
                 name="firstname">
                 </div>
                </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input 
                    type="text" 
                    id="lastname" 
                    class="form-control" 
                    placeholder="eg- Doe"
                    name="lastname"
                    ngModel>
                  </div>   
               </div>
          </div>
          <div class="form-group">
              <label for="usermail">Email</label>
              <input 
              type="email" 
              class="form-control" 
              id="usermail" 
              aria-describedby="emailHelp" 
              placeholder="eg- john.doe@email.com"
              name="usermail"
              required
              email
              #email="ngModel"
              ngModel>
              <span  class="help-block mail-invalid-text" *ngIf="!email.valid">Enter a valid email address</span>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea 
                class="form-control" 
                id="message" 
                rows="3"
                name="message"
                required
                ngModel></textarea>
               
              </div>
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary send-btn">Send message</button>
        </form>
         
    </div>
    
</div>

